* {
	margin: 0px;
	padding: 0px;
  box-sizing: border-box;
	text-rendering: optimizeLegibility;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.big-wrapper {
	max-width: 12000px;
	margin: 0px auto;
	text-align: left;
	clear: both;
}

@media (min-width: 1200px) {
	.big-wrapper {
		max-width: 1200px;
		margin: 0px auto;
		text-align: left;
		clear: both;
	}
}

/* COLORS */

:root {
--color-mode: 'light';
--High-emp: #1C1C1C;
--Med-emp: #454545;
--Low-emp: rgba(26,26,26,0.72);
--Lowest-emp: #F0F0F2;
--Divider: #D4D4D6;
--Inactive: #BBBBBB;
--Bg: rgba(255,255,255,1);
--Accent: #E44848;
--Accent-hover: #BB2E2E;
--Highlight-color: #F9EDC3;
--Always-white: rgba(255,255,255,1);
--Error: #B00020;
--Success: #0D5302;
--Hover-color: #E1E1E5;
--Hover-color-on-black: #404040;
--Shadow: rgba(0,0,0,.12);
}


@media (prefers-color-scheme: dark) {
	:root {
	--color-mode: 'dark';
	--High-emp: rgba(255,255,255,0.9);
	--Med-emp: rgba(255,255,255,0.72);
	--Low-emp: rgba(255,255,255,0.56);
	--Lowest-emp: rgba(255,255,255,0.16);
	--Divider: rgba(255,255,255,0.12);
	--Inactive: #BBBBBB;
	--Bg: #1C1C1C;
	--Accent: #DF7B7B;
	--Accent-hover: #C55454;
	--Highlight-color: #F9EDC3;
	--Always-white: rgba(255,255,255,1);
	--Error: #B00020;
	--Success: #0D5302;
	--Hover-color: #E1E1E5;
	--Hover-color-on-black: #404040;
	--Shadow: rgba(0,0,0,.56);
	}
}

/* BASIC STYLES */


body {
	background-color: var(--Bg);
}

a,
a:visited {
	color: var(--High-emp);
}

u {
	text-decoration: none;
	color: var(--High-emp);
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	padding-bottom: 4px;
	color: var(--High-emp);
	/* font-size: 28px;
	line-height:38px; */
	font-size: 36px;
	line-height:44px;
	text-align: left;
}

@media (min-width: 48em) {
	h1 {
		/* font-size: 48px;
		line-height:58px; */
		font-size: 56px;
		line-height:68px;
    padding-bottom: 8px;
		text-align: center;
	}
}

h2 {
	color: var(--High-emp);
	font-size: 24px;
	font-weight: 500;
	padding-top: 24px;
	padding-bottom: 8px;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-size: 24px;
	line-height:36px;
	text-align: left;
}

@media (min-width: 48em) {
	h2 {
		font-size: 36px;
		line-height:44px;
	}
}

.bold-text {
  	font-weight: 800;
		color: var(--Accent);
}

p 	{
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	color: var(--Med-emp);
}

.bigger-p 	{
	text-decoration: none;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	color: var(--Med-emp);
}

@media (min-width: 48em) {
	.bigger-p 	{
		text-decoration: none;
		/* font-size: 20px;
		line-height: 28px; */
		font-size: 24px;
		line-height: 36px;
		color: var(--Med-emp);
	}
}

.bigger-p-2 	{
	text-decoration: none;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: var(--Med-emp);
}

@media (min-width: 48em) {
	.bigger-p-2 	{
		text-decoration: none;
		/* font-size: 20px;
		line-height: 28px; */
		font-size: 20px;
		line-height: 32px;
		color: var(--Med-emp);
	}
}

.about-container{
	padding-left: 24px;
	padding-right: 24px;
}

.description-2{
	padding-top: 8px;
	/* text-align: left; */
}


.hero-container-2{
		padding: 104px 24px 0px 24px;
}

.newsletter-container{
	padding-top: 52px;
}

.newsletter-container p{
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;
}

.newsletter-divider{
	background-color: var(--Divider);
	width: 100%;
	height: 1px;
	display: block;
	margin-top: 56px;
}

.flex-wrapper-about{
	display: flex;
	padding-top: 8px;
		padding-bottom: 8px;
}

.row{
	padding: 0;
}

.image-label a{
	color: var(--Low-emp);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.image-label a:hover{
	color: var(--Accent);
}

.image-label{
	padding-top: 8px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	color: var(--Low-emp);
}

.image-side img{
	width: 100%;
	text-align: center;
	object-fit: cover;
}

.button {
	display: inline-block;
	padding-right: 8px;
}


@media (min-width: 992px) {
	.button {
		padding-top: 32px;
	}
.text-side{
	padding-left: 48px;
	display: block;
	margin: auto;
	padding-bottom: 36px;
}

.image-side {
text-align: center;
margin: auto 0;
display: block;
padding: 12px 0px;
}
}

@media (max-width: 991px) {
.image-side {
text-align: center;
margin: auto;
display: block;
padding: 20px 0px 8px 0px;
}

.button{
	padding-top:24px;
}
}

@media (min-width: 991px) {
.flex-wrapper-about{
	display: flex;
	padding-top: 16px;
		padding-bottom: 0px;
}
}

@media (max-width: 48em) {
	.hero-container-2{
			padding-top: 96px;
	}
}

@media (min-width: 48em) {
.hero-container-2 h1{
		text-align: left;
}
}


.description{
	padding-top: 8px;
	text-align: center;
}

@media (max-width: 768px) {
	.description{
		text-align: left;
	}
}

.hero-container{
		padding: 104px 24px 0px 24px;
}

@media (max-width: 48em) {
	.hero-container{
			padding-top: 96px;
	}

	/* .hero-container h1{
			padding-top: 96px;
	} */
}

/* .hero-container h1{
		text-align: center;
} */

.link a{
text-decoration: none;
color: var(--Accent)
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

@media (min-width: 48em) {
	.link a{
	/* text-decoration: underline; */
	color: var(--Med-emp)
	}

	.link a:hover {
	color: var(--Accent-hover)
	}
}

.hero-container-2 a {
/* color: var(--Accent); */
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.hero-container-2 a:hover {
color: var(--Accent)
}



.to-top-button{
	opacity: 0.72;
	z-index: 998;
	text-align: center;
	width: 48px;
	height: 48px;
	position: fixed;
	bottom: 24px;
	right: 24px;
	border-radius: 1000px;
	background-color: var(--Bg);
	border: 1px solid var(--Divider);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	cursor:pointer;
	  /* visibility: hidden; */
}


@media (min-width: 768px) {
.to-top-button:hover{
		opacity: 1;
	background-color: var(--Lowest-emp);
	/* border: 1px solid var(--Divider); */
}
}

.to-top-button svg {
margin-top: 12px;
}


/* SEARCH */

/* .cd-filter-content input::-ms-clear {
    display: none;
} */

.cd-filter-content{
padding: 24px;
margin: auto;
}

/* .cd-filter-content input{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
	border-radius: 1000px;
	background-color: var(--Lowest-emp);
	text-decoration: none;
	box-shadow: none;
	width: 100%;
	height:36px;
	padding: 0px 16px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	color: var(--Low-emp);
}

.cd-filter-content input:focus{
	-webkit-box-shadow: 0 2px 4px var(--Shadow);
	-moz-box-shadow: 0 2px 4px var(--Shadow);
	box-shadow: 0 2px 4px var(--Shadow);
	background-color: var(--Bg);
	outline: none;
	color: var(--Accent);
} */

.cd-filter-content select{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: none;
	border-radius: 1000px;
	background-color: var(--Lowest-emp);
	text-decoration: none;
	box-shadow: none;
	width: 100%;
	height:36px;
	padding: 0px 16px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	color: var(--Low-emp);
	cursor: pointer;
}

.cd-filter-content select:focus{
	/* -webkit-box-shadow: 0 2px 4px var(--Shadow);
	-moz-box-shadow: 0 2px 4px var(--Shadow);
	box-shadow: 0 2px 4px var(--Shadow);
	background-color: var(--Bg); */
	outline: none;
	/* color: var(--Accent); */
}

.cd-filter-block{
	display: flex;
}





/* CHECKBOXES */

.cd-filter-block ul {
	margin: auto;
	text-align: center;
}

.cd-filter-content li {
	/* text-decoration: none;
	list-style-type: none; */
	padding: 8px 16px 8px 0px;
	display: inline-block;
	margin: auto;
}

.cd-filter-content li input {
	cursor: pointer;
	margin: auto;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
	color: var(--Med-emp);
	/* margin-top: -2px; */
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		color: var(--Med-emp);
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: var(--Bg);
	border-radius: 2px;
	border: 1px solid var(--Divider);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
			margin-top: 2px;
}
.styled-checkbox:hover + label:before {
  background: var(--Lowest-emp);
}
/* .styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 2px var(--Lowest-emp);
} */
.styled-checkbox:checked + label:before {
  background: var(--Accent);
		border: 1px solid var(--Accent);
}
/* .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
} */
/* .styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
} */
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 10px;
  background: var(--Bg);
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 var(--Bg), 4px 0 0 var(--Bg), 4px -2px 0 var(--Bg), 4px -4px 0 var(--Bg), 4px -6px 0 var(--Bg), 4px -8px 0 var(--Bg);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}




/* NAVBAR */

#top-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    z-index: 999;
    -webkit-box-shadow: 0 2px 4px var(--Shadow);
    -moz-box-shadow: 0 2px 4px var(--Shadow);
    box-shadow: 0 2px 4px var(--Shadow);
    display: none;
    transition: opacity 0.3s;
		background-color: var(--Bg);
}


@media (max-width: 768px) {
	#top-shadow {
display: none;
	}
}


.header {
  /* background-color: var(--Bg); */
  position: fixed;
  width: 100%;
  z-index: 1000;
}


.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* background-color: var(--Bg); */
}

.header li a {
  display: block;
  padding: 20px 0px;
  text-decoration: none;
	font-weight: 600;
	color: var(--High-emp);
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

@media (max-width: 768px) {
	.header li a {
		border-radius: 4px;
	}
	.header{
		background-color: var(--Bg);
		-webkit-box-shadow: 0 2px 4px var(--Shadow);
    -moz-box-shadow: 0 2px 4px var(--Shadow);
    box-shadow: 0 2px 4px var(--Shadow);
	}
}

.header li a:hover,
.header .menu-btn:hover {
	color: var(--Accent);
}

.header .menu li a u{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.selected-menu-item{
	background-color: var(--Lowest-emp);
}

@media (min-width: 768px) {
	.selected-menu-item{
		background-color: transparent;
	}

.header .menu li a u{
		color: var(--Accent);

	}
.header .menu li a u:hover{
		color: var(--Accent-hover);
	}
}





.header .logo {
  /* font-family: 'Lobster', cursive; */
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
  display: block;
  float: left;
  font-size: 22px;
  padding: 8px 0px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

@media (min-width: 768px) {

.header .menu {
	margin-right: 4px;
}
}



/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--Med-emp);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--Med-emp);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
.extrapadding {
  padding: 0px 6px 0px 24px;
}

@media (max-width: 768px) {
	.menu li {
		margin-right: 18px;
	}
}

@media (min-width: 48rem) {
  .extrapadding {
    padding: 0px 6px 0px 24px;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 16px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


.button a{
	text-decoration: none;
	border: none;
	display: inline-block;
	font-weight: 600;
	padding: 12px 16px;
	background-color: var(--Accent);
	color: var(--Bg);
	border-radius: 4px;
	transition: .2s ease-out;
}

.button a:hover {
	background-color: var(--Accent-hover);
	color: var(--Bg);
}


.button-home {
	margin: auto;
	padding-right: 0;
}

.home-button-container{
	text-align: center;
}


.submit{
	font-weight: 600;
	/* background-color: var(--Bg); */
}

.submit-container:hover {
	color: var(--Accent);
}

.submit-container:hover .ls-color{
	fill: var(--Accent);
}

@media (min-width: 768px) {
.submit-container {
	margin-top: -2px;
}
}


.submit svg{
	overflow: visible;
}







.language-switcher{
	font-weight: 600;
	/* background-color: var(--Bg); */
}

.language-switcher-container:hover {
	color: var(--Accent);
}

.ls-color{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.language-switcher-container:hover .ls-color{
	fill: var(--Accent);
}

@media (min-width: 768px) {
.language-switcher-container {
	margin-top: -2px;
}
}


.language-switcher svg{
	overflow: visible;
}

.logo svg{
	overflow: visible;
	margin-right: 2px;
	margin-left: 2px;
}


/* FILTER */




.cd-tab-filter-wrapper {
  /* background-color: var(--Bg); */
  z-index: 1;
  padding: 32px 24px 24px 24px;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}


@media (min-width: 768px) {
	.cd-tab-filter-wrapper {
	  /* padding: 32px 24px 24px 24px; */

	}
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}

.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--Bg);
}

.cd-tab-filter li {
  display: none;
}




@media only screen and (max-width: 768px) {
.cd-tab-filter ul {
      width: 100%;
      }
.cd-tab-filter li {
    width: 100%;
}
.cd-tab-filter.is-open ul {
  /* box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2); */
}
}


.cd-tab-filter li:first-child {
  /* this way the placeholder is alway visible */
  display: block;
}





.cd-tab-filter a {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--Lowest-emp);
  text-decoration: none;
  /* border-radius: 4px; */
	/* border: 1px solid var(--Low-emp); */
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  /* width: 140px; */
  width: 100%;
  line-height: 50px;
  padding-left: 14px;
	transition: .2s ease-out;
}

@media (min-width: 768px) {
	.cd-tab-filter a {
	  border-radius: 4px;
	}

	.cd-tab-filter a {
		  background-color: var(--Bg);
	  font-size: 16px;
	  font-weight: 600;
	  text-decoration: none;
	  border-radius: 4px;
		border: 1px solid var(--Low-emp);
	  display: block;
	  height: 50px;
	  width: 100%;
	  line-height: 50px;
	  padding-left: 14px;
		transition: .2s ease-out;
	}
}

.cd-tab-filter{
	width: 100%;
	display: flex;
}

@media (min-width: 768px) {
.cd-tab-filter{
	height: auto;
	/* text-align: center; */
}
.cd-filters{
	display: inline;
	margin: auto;
		/* text-align: center; */
}
}

.cd-filters{
	display: inline-block;
	margin: auto;
}

.cd-tab-filter a.selected {
  background: var(--Accent);
  color: var(--Bg);
		border: 1px solid var(--Accent);
}

@media (min-width: 768px) {
.cd-tab-filter a:hover {
  /* background-color: var(--Hover-color); */
	color: var(--Accent);
			border: 1px solid var(--Accent);
}

.cd-tab-filter a.selected:hover {
  background-color: var(--Accent-hover);
			border: 1px solid var(--Accent-hover);
}
}

.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}

.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {



  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    margin-top: 24px;
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: left;
		    text-align: center;
  }
  .cd-tab-filter li {
    /* display: inline-block; */
		    display: inline;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 3px 8px;
    margin-right: 6px;
		margin-bottom: 12px;
    width: auto;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height:20px;
    height: auto;
    color: var(--Med-emp)
  }
  .no-touch .cd-tab-filter a:hover {

  }
  .cd-tab-filter a.selected {
    background: var(--Accent);
    color: var(--Bg);
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
}


@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    /* width: 80%; */
  }
}



.cd-gallery li {
  display: none;
}






/* CARDS */

.card-divider{
	background: var(--Divider);
	height: 1px;
	width: 100%;
	margin-top: 12px;
	margin-bottom: 8px;
}

.delivery-option{
		margin-top: 6px;
	color: var(--Low-emp);
	font-size: 14px;
	font-weight: 600;
	display: inline;
	line-height: 20px;
}

.delivery-option svg {
overflow: visible;
margin-right: 2px;
}


/* *,
*::before,
*::after {
  box-sizing: border-box;
} */


.cards a {
  text-decoration: none;
}

.cards li {
    transition: box-shadow 0.3s ease-out;
      border-radius: 8px;
}


@media (min-width: 768px) {
.cards li:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 12px 0px var(--Shadow);
  -moz-box-shadow: 0px 4px 12px 0px var(--Shadow);
  box-shadow: 0px 4px 12px 0px var(--Shadow);
  z-index: 5;
}
}

.cards ul {
width: 100%;
display: block;
}

.cards img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
	width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  /* margin-left: -8px;
  margin-right: -8px; */
		/* text-align: center; */
}

/* THIS MIGHT BREAK THE FILTERS */

.card-padding {
	/* latest change */
  /* display: -webkit-box;
  display: flex; */
	margin: 0;
	padding: 0;
	display: block;
}


@media (max-width: 639px) {
.card-padding {
display: block;
	min-width: 100%;
}
.card{
	min-width: 100%;
}
}

@media (min-width: 640px) {
.card-padding {
display: inline-block;
}
.card{
	min-width: 100%;
}
}

/* ---- */


.cards__item {
  display: -webkit-box;
  display: flex;
	  /* margin: 8px; */
		margin: 0.6em;
}
@media (min-width: 40rem) {
  .card-padding {
    /* max-width: 50%; */
				width: calc(50% - 0.2em);
    /* width: 47.1%; */
  }
}
@media (min-width: 56rem) {
  .card-padding {
    /* width: 30.3%; */
		/* width: calc(100% / 3); */
		width: calc(33.33% - 0.2em);
    /* max-width: 33.33%; */
  }
}

@media (min-width: 768px) {
	.cards {
    padding-top: 12px;
    }
}


.card {
  background-color: var(--Bg);
  border-radius: 8px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
}

.card__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
					padding: 16px;

}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}


.new-badge{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: var(--Bg);
	border-radius: 4px;
	background-color: var(--Accent);
	margin-bottom: 8px;
	margin-right: 8px;
	float: right;
	padding: 2px 4px;
	z-index: 400;
}
/* <div class="new-badge">NEW</div> */

/* IMAGES */

.card__image--kicsicake {
	background-image: url('../images/kicsicake.jpg');
}

.card__image--fyge {
	  background-image: url('../images/fyge.jpg');
}

.card__image--gynka {
	background-image: url('../images/gynka.jpg');
}

.card__image--milly {
	background-image: url('../images/milly.jpeg');
}

.card__image--nove {
		  background-image: url('../images/nove.jpg');
}

.card__image--plantethics {
	background-image: url('../images/plantethics.png');
}

.card__image--printa {
	  background-image: url('../images/printa.jpg');
}

.card__image--matyo {
	background-image: url('../images/matyo.png');
}

.card__image--apacuka {
	background-image: url('../images/apacuka.jpg');
}

.card__image--pomponia {
	background-image: url('../images/pomponia.jpg');
}

.card__image--cirrhopp {
background-image: url('../images/cirrhopp.jpg');
}

.card__image--fanna {
  background-image: url('../images/fanna.jpg');
}

.card__image--fraau {
	background-image: url('../images/fraau.jpg');
}

.card__image--fruitshop {
  background-image: url('../images/fruitshop.jpg');
}

.card__image--groenk {
  background-image: url('../images/groenk.jpg');
}

.card__image--gyumolcskiraly {
  background-image: url('../images/gyumolcskiraly.jpg');
}

.card__image--kap {
background-image: url('../images/kap.jpg');
}

.card__image--kelle {
	background-image: url('../images/kelle.jpg');
}

.card__image--kiskas {
  background-image: url('../images/kiskas.jpg');
}

.card__image--maminvent {
  background-image: url('../images/maminvent.png');
}

.card__image--milyen {
  background-image: url('../images/milyenkedves.jpg');
}

.card__image--muskinn {
	  background-image: url('../images/muskinn.jpg');
}

.card__image--nekedterem {
  background-image: url('../images/nekedterem.jpg');
}

.card__image--nesshoes {
  background-image: url('../images/nesshoes.jpg');
}

.card__image--nimri {
  background-image: url('../images/nimiri.jpg');
}

.card__image--oatava {
  background-image: url('../images/oatava.png');
}

.card__image--panyizsuzsi {
  background-image: url('../images/panyizsuzsi.jpg');
}

.card__image--philomen {
  background-image: url('../images/philomen.jpg');
}

.card__image--reptyike {
  background-image: url('../images/reptyike.jpg');
}

.card__image--shamo {
  background-image: url('../images/shamo.jpg');
}

.card__image--sparke {
background-image: url('../images/sparke.jpg');
}

.card__image--symbyo {
	  background-image: url('../images/symbyo.jpg');

}

.card__image--tomcsanyi {
  background-image: url('../images/tomcsanyi.jpg');
}

.card__image--touchmenot {
  background-image: url('../images/touchmenot.jpg');
}

.card__image--underseawear {
	background-image: url('../images/underseawear.jpg');
}

.card__image--urs {
	background-image: url('../images/urs.jpg');
}

.card__image--vandor {
	background-image: url('../images/vandor.jpg');
}

.card__image--vegabox {
	background-image: url('../images/vegabox.jpg');
}

.card__image--vuuvworks {
	background-image: url('../images/vuuworks.jpeg');
}

.card__image--wy {
	background-image: url('../images/wy.jpg');
}

.card__image--malinko {
  background-image: url('../images/malinko.png');
}

.card__image--fabala {
	background-image: url('../images/fabala.jpg');
}

.card__image--thinwood {
  background-image: url('../images/thinwood.jpg');
}

.card__image--tinatti {
  background-image: url('../images/tinatti.jpg');
}

.card__image--hazaipiac {
  background-image: url('../images/hazaipiac.jpg');
}

.card__image--buymeacoffee {
	background-color: var(--Accent);
  background-image: url('../images/buymeacoffee.png');
}

.card__image--anan {
  background-image: url('../images/anan.jpg');
}

.card__image--annaamelie {
  background-image: url('../images/annaamelie.jpg');
}

.card__image--annajonas {
  background-image: url('../images/annajonas.jpg');
}

.card__image--babymountain {
  background-image: url('../images/babymountain.jpg');
}

.card__image--bubutimart {
  background-image: url('../images/bubutimart.jpg');
}

.card__image--bucek {
  background-image: url('../images/bucek.jpg');
}

.card__image--byanita {
  background-image: url('../images/byanita.jpg');
}

.card__image--ecohunt {
  background-image: url('../images/ecohunt.jpg');
}

.card__image--feszekreszek {
  background-image: url('../images/feszekreszek.jpg');
}

.card__image--franta {
  background-image: url('../images/franta.jpg');
}

.card__image--franziska {
  background-image: url('../images/franziska.jpg');
}

.card__image--free {
  background-image: url('../images/free.jpg');
}

.card__image--fromvalerka {
  background-image: url('../images/fromvalerka.jpg');
}

.card__image--gyurmami {
  background-image: url('../images/gyurmami.jpg');
}

.card__image--helix {
  background-image: url('../images/helix.jpg');
}

.card__image--kosso {
  background-image: url('../images/kosso.jpg');
}

.card__image--lampalu {
  background-image: url('../images/lampalu.jpg');
}

.card__image--linini {
  background-image: url('../images/linini.jpeg');
}

.card__image--misija {
  background-image: url('../images/misija.jpg');
}

.card__image--monge {
  background-image: url('../images/monge.jpg');
}

.card__image--nemiskacat {
  background-image: url('../images/nemiskacat.jpg');
}

.card__image--paperup {
  background-image: url('../images/paperup.jpg');
}

.card__image--rekarajza {
  background-image: url('../images/rekarajza.jpg');
}

.card__image--steixner {
  background-image: url('../images/steixner.jpg');
}

.card__image--susu {
  background-image: url('../images/susu.jpg');
}

.card__image--szaszzsofi {
  background-image: url('../images/szaszzsofi.png');
}

.card__image--zenterior {
  background-image: url('../images/zenterior.jpg');
}

.card__image--thesofistore {
  background-image: url('../images/thesofistore.jpg');
}

.card__image--varazspallo {
  background-image: url('../images/varazspallo.jpg');
}

.card__image--varjasart {
  background-image: url('../images/varjasart.jpg');
}

.card__image--eccehome {
background-image: url('../images/eccehome.jpg');
}

.card__image--fannyfashion {
background-image: url('../images/fannyfashion.jpg');
}

.card__image--felvarrom {
background-image: url('../images/felvarrom.jpg');
}

.card__image--flowdog {
background-image: url('../images/flowdog.jpg');
}

.card__image--geek {
background-image: url('../images/geek.jpg');
}

.card__image--huszka {
background-image: url('../images/huszka.jpg');
}

.card__image--ilcsi {
background-image: url('../images/ilcsi.jpg');
}

.card__image--kippkopp {
background-image: url('../images/kippkopp.jpg');
}

.card__image--megyeriszabolcs {
background-image: url('../images/megyeriszabolcs.jpg');
}

.card__image--nanushka {
background-image: url('../images/nanushka.jpg');
}

.card__image--omorovicza {
background-image: url('../images/omorovicza.jpg');
}

.card__image--remodel {
background-image: url('../images/remodel.jpg');
}

.card__image--yoza {
background-image: url('../images/yoza.jpg');
}

.card__image--szakallasember {
background-image: url('../images/szakallasember.jpg');
}

.card__image--gion {
background-image: url('../images/gion.jpg');
}

.card__image--szirmai {
background-image: url('../images/szirmai.jpg');
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}

.card__image-- {
  background-image: url();
}








.card__title {
  color: var(--High-emp);
  font-size: 24px;
  font-weight: 700;
  /* padding-top: 22px; */
  padding-bottom: 8px;
}
.card__text {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  font-size: 16px;
  /* margin-bottom: 6px; */
}

/* TAGS */
.tags {
  /* display: flex; */
	margin-top: 16px;
	margin-bottom: 12px;
}

.tag {
  font-size: 14px;
  font-weight: 600;
  display: inline;
  line-height: 20px;
  /* text-transform: uppercase; */
  /* padding: 3px 8px; */
  margin-right: 8px;
	/* margin-bottom: 8px; */
  border-radius: 4px;
	color: var(--Accent);
	/* background-color: rgb(228, 72, 72, 0.10); */
}



/* FOOTER */

footer{
	padding-top: 56px;
}

footer a{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: var(--Low-emp);
}

footer a:hover{
	color: var(--Accent);
}

.footer-divider{
	background-color: var(--Divider);
	width: 100%;
	height: 1px;
	display: block;
}

.footer-container{
	width: 100%;
	padding: 56px 16px 56px 16px;
}

.footer-text{
	color: var(--Med-emp);
	text-align: center;
	display: block;
	margin: auto;
}

.footer-icons{
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 24px;
}

@media (min-width: 48em) {
	/* .footer-container{
		width: 100%;
		padding: 56px 16px 72px 16px;
	} */
	.footer-text{
		float: left;
		color: var(--Med-emp);
		text-align: left;
		display: inline-block;
	}
	.footer-icons{
		float: right;
		display: inline-block;
		margin-top: 0px;
	}
}

.icon-right-padding{
	padding-right: 12px;
}

.footer-icons a{
	text-decoration: none;
}

.footer-icons svg{
	overflow: visible;
}

.svg{
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.footer-icons a:hover .svg{
	fill: var(--Accent);
}





/* 404 */
.container-404{
	padding-left: 24px;
	padding-right: 24px;
	height: 80vh;
	display: flex;
}

.text-area-404{
	margin: auto 0px;
}

.container-404 h1{
		text-align: left;
}

.container-404 p{
		text-align: left;
}


.button-secondary a {
	color: var(--Low-emp);
	background-color: var(--Bg);
	border: 1px solid var(--Low-emp);
	border-radius: 4px;
}


.button-secondary a:hover {
	color: var(--Accent);
	background-color: var(--Bg);
	border: 1px solid var(--Accent);
	border-radius: 4px;
}



/* COOKIE POLICY */

.cookie-title{
	color: var(--High-emp);
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 8px;
	text-align: center;
}

.cookie-container {
	background-color: var(--Bg);
	color: var(--High-emp);
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999999;
	max-width: 380px;
	-webkit-box-shadow: 0 -2px 4px var(--Shadow);
	-moz-box-shadow: 0 -2px 4px var(--Shadow);
	box-shadow: 0 -2px 4px var(--Shadow);
	margin-right: 24px;
	margin-left: 24px;
	border-radius: 4px 4px 0px 0px;
}
.cookie-container.show {
  display: block;
}

.cookie-container .disclaimer-text {
	padding: 24px 24px;
}
.cookie-container .disclaimer-text p {
  /* font-size: 14px;
  line-height: 22px; */
  margin: 0;
  text-align: center;
}
.cookie-container .disclaimer-text p span:before {
  color: var(--High-emp);
}
.cookie-container .disclaimer-text p a {
  color: var(--High-emp)
}
.cookie-container .disclaimer-button {
	min-width: 80px;
	text-decoration: none;
	border: none;
	/* display: inline-block; */
	  display: block;
	font-weight: 600;
	padding: 12px 16px;
	background-color: var(--Accent);
	color: var(--Bg);
	border-radius: 4px;
	transition: .2s ease-out;
  cursor: pointer;
	margin-top: 16px;
	text-align: center;
}
.cookie-container .disclaimer-button:hover {
  background-color: var(--Accent-hover);
}



@media (max-width: 48em) {
.cookie-container .disclaimer-button {
	/* display: block; */
  margin-left: 0px;
}
}
